.create-note-card {
	width: 100%;
	display: flex;

	.create-note-button {
		border-radius: 28px;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: space-between;
		box-sizing: border-box;

		> span {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 4px;
			h4 {
				font-weight: 700;
				line-height: 33.6px;
				letter-spacing: -1%;
			}
			p {
				font-weight: 500;
				line-height: 24px;
				letter-spacing: 0%;
				color: var(--grey-600);
			}
		}

		&.record {
			background-image: url('../../../assets/img/1440/record_button.webp');
			background-color: transparent;
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: top;

			h4 {
				background: linear-gradient(90deg, var(--grey-900) 0%, var(--primary-900) 100%);
				background-clip: text;
				-webkit-background-clip: text;
				-moz-background-clip: text;
				-ms-background-clip: text;
				-o-background-clip: text;
				color: transparent;
			}
		}
		&.upload {
			background-color: var(--grey-100);
		}
	}
}

@media (min-width: 0px) and (max-width: 1919px) {
	.create-note-card {
		margin-bottom: 36px;
		gap: 16px;

		.create-note-button {
			height: 184px;
			padding: 28px 24px;
			> span {
				p {
					font-size: 16px;
				}
			}
			> button {
				width: 130px;
				height: 46px;
			}

			&.record {
				width: 628px;
				h4 {
					font-size: 24px;
				}
			}
			&.upload {
				width: 444px;
				h4 {
					font-size: 20px;
					font-weight: 600;
				}
			}
		}
	}
}

@media (min-width: 1920px) {
	.create-note-card {
		margin-bottom: 36px;
		gap: 19px;

		.create-note-button {
			height: 208px;
			padding: 30px 32px;
			> span {
				p {
					font-size: 18px;
				}
			}
			> button {
				width: 130px;
				height: 46px;
			}

			&.record {
				width: 739px;
				background-image: url('../../../assets/img/record_button.webp');

				h4 {
					font-size: 28px;
				}
			}
			&.upload {
				width: 522px;

				h4 {
					font-size: 24px;
				}
			}
		}
	}
}