.sign-up-form {
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: start;
	.input-group {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 40px;
	}
	img {
		height: 39px;
		margin-bottom: var(--scale-8);
	}
	p {
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0%;
		&.hint {
			color: var(--grey-500);
			font-weight: 400;
			font-size: 14px;
			line-height: 21px;
			letter-spacing: -1%;
			text-align: center;
			margin-top: 20px;
		}
	}
	h3 {
		font-weight: 700;
		font-size: 28px;
		line-height: 39.2px;
		letter-spacing: -0.3%;
		margin: 0;
	}
	.default-input {
		margin-bottom: var(--scale-12);
	}
	button {
		width: 100%;
		margin-bottom: 20px;
	}
}