header {
	width: 100%;
	min-height: 84px;
	padding-left: 24px;
	padding-right: 30px;
	padding-top: 26px;
	box-sizing: border-box;
	background-color: transparent;
	display: flex;
	align-items: start;
	> .icon-button {
		width: 126px;
		> img {
			width: 100%;
		}
	}
}

main {
	display: flex;

	> aside {
		min-width: 232px;
		max-width: 100%;
		min-height: 900px;

		padding-left: 24px;
		box-sizing: border-box;
	}
	> section {
		min-width: 1088px;
		background-color: transparent;
		margin: 0 60px;
		border-radius: var(--scale-24);
	}
}

footer {
	width: 100%;
	min-height: 40px;
	background-color: transparent;
}

@media (min-width: 1440px) and (max-width: 1919px) {
}

@media (min-width: 1920px) {
	header {
		min-height: 80px;
	}

	main {
		> aside {
			min-width: 272px;
			max-width: 100%;

			padding-left: 32px;
		}
		> section {
			min-width: 1280px;
			min-height: 920px;
			margin: 0 184px;
			border-radius: var(--scale-24);
		}
	}

	footer {
		min-height: 80px;
	}
}