#unauthorized_page {
	width: 100%;
	> div {
		min-width: 1024px;
		background-color: transparent;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: top;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.text {
		background: linear-gradient(92.26deg, var(--primary-900) -13.84%, var(--grey-900) 75.15%, var(--secondary-600) 99.53%);
		margin-top: 12%;
		margin-bottom: 32px;
		background-clip: text;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		-ms-background-clip: text;
		-o-background-clip: text;
		color: transparent;
		.text-s {
			font-weight: 600;
			font-size: 16px;
			line-height: 22.4px;
			letter-spacing: -1%;
			text-align: center;
			> .bold {
				font-weight: 700;
			}
		}
		.text-xl {
			font-weight: 700;
			font-size: 40px;
			line-height: 56px;
			letter-spacing: -0.3%;
			text-align: center;
		}
	}

	.primary {
		width: 141px;
		padding-top: var(--scale-16);
		padding-bottom: var(--scale-16);

		svg {
			margin-left: 6px;
		}
	}
}