.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

	.modal {
		background: white;
		border-radius: var(--scale-16);
		box-shadow: inset;
		padding: 20px;
		padding: 92px 76px;
		position: relative;

		.modal-content {

		}
		.modal-buttons {
			width: 100%;
			align-items: center;
			justify-content: end;
		}
	}

	.icon-button {
		position: absolute;
		width: 24px;
		height: 24px;
		right: 30px;
		top: 30px;
		background: transparent;
		padding: 0;
		img {
			width: 100%;
		}
	}
}

.toast-card {
	position: fixed;
	bottom: 80px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
	display: flex;
	flex-direction: column;
	.toast-message {
		font-weight: 600;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: -1%;
		text-align: center;
		color: var(--white);
		padding: 20px 56px;
		border-radius: 12px;
		background-color: #464242CC;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	}
}