.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

	.modal {
		background: white;
		border-radius: var(--scale-16);
		box-shadow: inset;
		padding: 20px;
		padding: 92px 76px;
		position: relative;
	}

	.icon-button {
		position: absolute;
		width: 24px;
		height: 24px;
		right: 30px;
		top: 30px;
		background: transparent;
		padding: 0;
		img {
			width: 100%;
		}
	}
}