.default-button {
	border-radius: var(--scale-12);
	background-color: var(--grey-900);
	overflow: hidden;
	padding: 12px;
	color: var(--white);
	font-weight: 600;
	font-size: 16px;
	text-align: center;
	width: 100%;
	letter-spacing: -1%;
	display: flex;
	justify-content: center;
	align-items: center;

	&.primary {
		background-color: var(--primary-500);
		box-shadow: 0px 4px 24px 0px var(--primary-300);
	}
	&.primary-light {
		color: var(--grey-900);
		background-color: var(--primary-100);
	}
	&.active {
		background: radial-gradient(circle, rgba(245, 239, 235, 1), rgba(245, 239, 235, 0.16));
		border: 0.5px solid #F5EFEB29;
	}
}

.icon-button, .context-menu-button {
	background-color: transparent;
	overflow: hidden;
}